/* styles.css */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.form-container {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffff;
}

.form-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input[type="email"] {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.2rem;
}

.form-container button {
  padding: 15px 30px;
  border: none;
  border-radius: 25px; /* More rounded corners */
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container button:hover {
  background-color: #0056b3;
  transform: translateY(-3px); /* Slight lift effect */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.form-container button:active {
  background-color: #004494;
  transform: translateY(0); /* Reset lift effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-size: 1rem;
  color: #777;
}





/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  background-color: white;
  padding-top: 20px;
}

.hero-left, .hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left {
  align-items: flex-start;
  margin-left: 80px; /* Added margin to the left */
  padding-bottom:20px
}

.upper-title {
  font-family: 'Poppins';
  font-size: 18px;
  color: #011831;

}

.hero-title {
  font-family: 'Volkhov';
  font-size: 65px;
  color: #181E4B;
  line-height: 1;
  margin: 20px 0px 20px 0px;
}

.hero-subtitle {
  font-size: 16px;
  margin: 10px 0;
  line-height:1.5;
  color: #5E6282;
  font-family: 'Poppins';
}

/* Button Styles */
.hero-button {
  font-family: 'Montserrat';
  padding: 20px 30px; /* Adjusted padding */
  font-size: 16px; /* Adjusted font size */
  font-weight: bold;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 8px; /* Adjusted border radius */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.hero-button:hover {
  background-color: #0056b3;
}

.hero-right{
  align-items: center; /* Center the image vertically */
  width: 100%; /* Or any specific width */
  height: 100%; /* Or any specific height */
  overflow: hidden; /* Hide overflow if needed */
  background-image: url('./public/background.png');
  background-position: top right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */

}

.hero-right img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image covers the div */
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .hero-left, .hero-right {
    align-items: center;
    margin-left: 0;
  }

  .hero-title {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -1px;
  }

  .hero-subtitle {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  .hero-button {
    padding: 15px 25px;
    font-size: 14px;
  }

  .logo {
    max-width: 120px;
  }

  .hero-right img {
    max-width: 80%;
    margin-top: 20px;
  }
}




/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Notification Section */
.notification {
  height: 100vh;
  padding: 20px;
  background-color: #e5e5e5;
}


/* Features Section */
.features {
  padding: 50px 20px;
  text-align: center;
  background-color: #f5f5f5;
}

.features-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.features-subtitle {
  font-size: 1.5rem;
  color: #888;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 500;
}

.card {
  width: 20%;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-align: left;
  font-weight: 500;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-icon {
  font-size: 2rem;
  color: #007BFF;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.25rem;
  margin: 10px 0;
  font-weight: 500;
}

.card-subtitle {
  font-size: 0.9rem;
  margin: 10px 0;
  line-height:1.5;
  color: #5E6282;
  font-family: 'Poppins';

}



.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}


.steps {
  display: flex;
  flex-direction: row;
  margin: 40px 0px 40px 0px;
}

.steps-left {
  flex: 1;
  justify-content: left;
  text-align: left;
  margin-left: 80px;
}

.steps-left h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.steps-left .title{
  color: #5E6282;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';

}

.steps-left .subtitle{
  color: #5E6282;
  font-size: 16px;
  font-family: 'Poppins';
}

.steps-right {
  flex: 1;
  flex-direction: row;
  display: flex;

}

.steps-icon {
  font-size: 2rem;
  color: #007BFF;
  margin-bottom: 10px;
  min-width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-row {
  display: flex;
  justify-content: space-between; /* Distribute space between the images */
  align-items: center; /* Align images vertically center */
  gap: 10px; /* Optional: Add space between images */
}

.image-row img {
  width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers its container */
}

.image-container {
  flex: 1;
}


.download {
  display: flex;
  flex-direction: row;
  margin: 0px 100px 0px 0px;
}

.download-left h3 {
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.download-left .title{
  color: #5E6282;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';

}

.download-left .subtitle{
  color: #5E6282;
  font-size: 16px;
  font-family: 'Poppins';
}


.download {
  display: flex;
  height: 400px; /* Adjust height as needed */
  background-color: #f7f7f7;
}

.download-left, .download-right {
  flex: 1; /* Each side takes up 50% of the width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.download-left {
  text-align: left;
}

.download-left p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555;
  font-family: 'Poppins';
}

.badges {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.badges a {
  display: inline-block;
}

.badges img {
  width: 150px; /* Adjust size of the badges as needed */
  cursor: pointer;
}

.download-right {
  padding: 20px;
  flex: 2;
  position: relative;
  margin-right: 40px;

}

.download-right video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire div */
  z-index: 1; /* Places the video behind the content */
  border-radius: 10px;
}


/* Responsive Design */
@media (max-width: 1200px) {
  .card {
    width: 45%; /* Adjust width for medium screens */
  }
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%; /* Adjust width for small screens */
    margin: 10px 0;
  }

  .steps {
    flex-direction: column;
  }

  .steps-left{
    margin-left: 10px;
  }

  .download {
    flex-direction: column-reverse;
    margin: 0px;
  }

  .download-left {
    text-align: center;
    margin-bottom: 20px;
  }
}

